<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TrueCaller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TrueCallerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA5EE7401F301BFF00B30AF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA60222B1F259757001591BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA6022441F259757001591BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA60224F1F259757001591BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA7F13191F2F643A0030FCEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
